
	<li>
		<h2>Recherche</h2>
		<form action="Recherche" method="get">
			<table>
				<tr>
					<th>
					    <input type="hidden" name="type" value="simple">
					    <input type="text" name="recherche"
						placeholder="titre, auteur, ..." /></th>
					<th><input class="button" type="submit" value="Chercher" /></th>
				</tr>
			</table>

		</form>
	</li>
