.formulaire *:focus {
    outline: none; /* Prevents blue border in Webkit */
}

form.formulaire {
    width: 300px;
    margin: 20px auto;
}

.formulaire p {
    line-height: 1.6;
}

.formulaire input, .formulaire textarea, .formulaire select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 20px;
    width: 400px;
    min-height: 30px;
    display: block;
    margin-bottom: 16px;
    margin-top: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/*    .formulaire input:focus, .formulaire textarea:focus {
        -webkit-box-shadow: 0 0 25px #ccc;
        -moz-box-shadow: 0 0 25px #ccc;
        box-shadow: 0 0 25px #ccc;
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        transform: scale(1.05);
    }*/



    /* The interesting bit */

    .formulaire input:not(:focus), .formulaire textarea:not(:focus) {
        opacity: 1;
    }

    .formulaire input:invalid, .formulaire textarea:invalid {
        background: url("../images/invalid.png") no-repeat 380px 7px;
        background-color: #fff;
    }
    
    .formulaire textarea {
    	height: 150px;
    	resize:none;
    }

    .formulaire input:valid, .formulaire textarea:valid {
        background: url("../images/valid.png") no-repeat 380px 5px;
        background-color: #fff;
    }

    .formulaire input:focus:invalid, .formulaire textarea:focus:invalid {
        background: url("../images/invalid.png") no-repeat 380px 7px;
        background-color: #fff;
    }

    .formulaire input[type=submit] {
        padding: 10px;
        /*background: none;*/
        opacity: 1.0;
    }
