
/*
  Design by Free CSS Templates
  http://www.freecsstemplates.org
  Released for free under a Creative Commons Attribution 2.5 License
  */

body {
    margin: 10;
    padding: 0;
    background: #181818 url(../images/wrapper-background.png);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #181B20;/*ecriture des news */
    /*color: #ffffff;*/
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #560969;
}

a:hover {
    text-decoration: underline;
}

img.border {
    border: 6px solid #EEE7DF;
}

img.alignleft {
    float: left;
    margin-right: 25px;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
}

/* Header */

#header-wrapper {
    height: 80px;
}

#header {
    height: 240px;
    margin: 0 auto;
}

/* Logo */

#logo {
    height: 100px;
    margin: 0px 10px;
    padding: 0px 0px 0px 0px;
}

#logo h1, #logo p {
    display: block;
    margin: 0px;
    padding: 0px;
}

#logo h1 {
    letter-spacing: -5px;
    font-size: 50px;
}

#logo p {
    margin-top: -10px;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
}

#login {
    float: right;
    height: 100px;
    margin: 10px 0px;
    padding: 0px 0px 0px 0px;
}

#login p {
    margin-top: 0px;
    font-family: 'Abel', sans-serif;
    font-size: 15px;
}

#login input{
    float: right;
    background-color: #fff;
    border: 1px solid #ccc;
    display: block;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

#login label {
    padding: 0px 5px 0px 0px;
}

/* Button */
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 2px 4px;
    -webkit-border-radius: 39px;
    -moz-border-radius: 39px;
    border-radius: 39px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 12px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}

.button:active {
    border-top-color: #1b435e;
    background: #1b435e;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 100px;
    padding: 0;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 60px 0 0 30px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 195px;
    padding: 6px 10px;
    border: none;
    background: #FFFFFF;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #7F7F81;
}

#search-submit {
    display: none;
}

/* Menu */

#menu-wrapper {
    /*	width: 1080px;*/
    height: 40px;
    margin: 10px 10px;
    padding: 0px;
}

#menu {
    margin: 0;
    padding: 0px 0px;
    list-style: none;
    line-height: 40px;
    letter-spacing: -1px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #2E7C0E;
    font-family: 'Abel', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color: #ffffff;
}

#menu li {
    float: left;
    margin-right: 1px;
}

#menu a {
    display: block;
    float: left;
    height: 40px;
    margin: 0px;
    color: #FFFFFF;
}

body#index a#index,
body#recherche a#recherche, 
body#contact a#contact,
body#compte a#compte,
body#panier a#panier,
body#resultats a#recherche,
body#livre a#livre,
body#dvd a#dvd,
body#cd a#cd {
	text-shadow: 2px 2px 2px #1B5803;
	text-decoration: underline;
}

body#livre span#livre,
body#disque span#disque,
body#dvd span#dvd,
body#admin span#admin {
	text-shadow: 2px 2px 2px #1B5803;
	text-decoration: underline;	
}

#menu a:hover {
	background: #23BBDD;
	text-decoration: none;
	text-shadow: 2px 2px 2px #1B5803;
	color: #FFFFFF;
}

#menu span {
    padding: 0px 5px;
}


#menu > li.active {
	background: #23BBDD;
	color: #FFFFFF;
}

.dropotron li.opener {
    border-right: solid 2px #FFFFFF;
}

.dropotron {
	margin: 0px;
	padding: 0px 0px;
	background: #23BBDD;
	list-style: none;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

.dropotron a {
    color: #fff;
    text-decoration: none;
}

.dropotron li {
    margin: 0px;
    padding: 5px 20px;
}

.dropotron li.active {
	text-decoration: underline;
}

.dropotron li:hover {
	background: #2233CC;
}

/* Page */

#page {
    margin: 10px auto;
    padding: 10px;
    
}

/* Content */

#content {
	width: 75%;
    float: right;
    
/*    background: #EFFFFF /*url(../images/content-bg.png) repeat-y left top*/;*/
}

#content .contentbg {
    padding: 30px 30px 0px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    
}

.post {
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #DEDEDE;
}

.post .title {
    padding-top: 10px;
    letter-spacing: -4px;
    font-size: 50px;
    color: #560969;
}

.post .title a {
    border: none;
    color: #560969;
}

.post .meta {
    padding-bottom: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
}

.post .meta a {
}

.post .entry {
    text-align: justify;
    margin-bottom: 25px;
    padding: 10px 0px 0px 0px;
}

.links {
    display: block;
    width: 96px;
    padding: 2px 0px 2px 0px;
    background: #A53602;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

/* Sidebar */

#sidebar-bg {
    float: left;
    width: 23.9%;
/*	background: #EFFFFF;*/
     background-color: rgba(255, 255, 255, 0.6);
     border-radius: 10px;
}

#sidebar {
    overflow: hidden;
    padding: 15px 15px 10px 15px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    padding-left: 30px;
    line-height: 35px;
    background: url(../images/img01.gif) no-repeat left 5px;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar h2 {
    height: 38px;
    margin-bottom: 20px;
    padding: 12px 0 0 0px;
    border-bottom: 1px solid #F1DAF7;
    letter-spacing: -2px;
    font-size: 30px;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 20px 20px 20px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    width: 650px;
    height: 100px;
    margin: 0px auto;
    padding-left: 330px;
}

#footer p {
    margin: 0;
    padding-top: 18px;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    text-shadow: 1px 1px 1px #050505;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: #525050;
}

#footer a {
    text-decoration: underline;
    color: #525050;
}

#slider {
    position: relative;
    width: 590px;
    margin: 0px auto 20px auto;
    text-align: center;
}

#slider .viewer {
    width: 590px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
}

#slider .viewer .reel {
    display: none;
    height: 300px;
}

#slider .viewer .reel .slide {
    position: relative;
    width: 590px;
    height: 300px;
}

