/* ------------------
 styling for the tables 
   ------------------   */

#hor-zebra
{
	margin: 45px 10px 0px 10px;
	text-align: left;
	border-collapse: collapse;
	float:left
}
#hor-zebra th
{
	font-weight: normal;
	padding: 10px 8px;
}
#hor-zebra td
{
	padding: 8px;
	background: rgba(150,150,200,0.1); 
	border-top: 1px solid rgba(200,200,200,0.8);
	border-bottom: 1px solid rgba(200,200,200,0.8);
}
#hor-zebra .odd
{
	background: rgba(150,150,200,0.2); 
}


#newspaper-a
{
	margin: 25px 0px 0px 0px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid rgba(200,200,200,0.8);
	float: left;
}
#newspaper-a th
{
	padding: 12px 17px 12px 17px;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,1);
	background: rgba(150,150,200,0.3); 
	border-bottom: 1px dashed rgba(200,200,200,0.8);
}
#newspaper-a td
{
	padding: 7px 17px 7px 17px;
	background: rgba(150,150,200,0.1); 
	color: rgba(0,0,0,1);
}
#newspaper-a tbody tr:hover td
{
	color: rgba(0,0,100,1); ;
	background: rgba(150,150,200,0.2);
}